{% extends "blueprint.html" %}

{% block main %}
    <header>
    <nav>
        <a href="/logout">Выход</a>
    </nav>
    </header>
    <main>
        <div style="margin-top: 24px;"><a href="/list">Назад к списку операций</a></div>
        <h1>Выберите операцию для редактирования</h1>
        <form method="POST">
            <select name="selected_operation">
                {% for operation in operations %}
                    <option value="{{ operation.id }}">
                        №{{ operation.id }} • {{ operation.amount }} руб • {{ operation.created_at }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit">Выбрать</button>
        </form>
        <div style="color: red; margin-top: 24px;">{{ errors }}</div>
        <div style="color: green; margin-top: 24px;">{{ message }}</div>
    </main>
{% endblock %}