{% extends "blueprint.html" %}

{% block main %}
    <header>
        <nav>
            <a href="/logout">Выход</a>
        </nav>
    </header>
    <main>
        <h1>Список операций</h1>
        <div><a href="/add">Создать новую операцию</a></div>
        <div><a href="/edit">Редактировать операцию</a></div>
        {% for operation in operations %}
            <div>
                <h2>{{ operation.amount }} руб.</h2>
                <div>{{ operation.created_at }}</div><br>
                <div>{{ operation.category }}</div><br>
                <div>{{ operation.description }}</div><br>
                <!-- <div><button onclick="edit_operation({{ operation.id }}, {{ operation.amount }}, {{ operation.category }}, {{ operation.description }})">Редактировать</button></div> -->
                <div><button onclick="delete_operation({{ operation.id }})">Удалить</button></div>
            </div>
        {% endfor %}
    </main>
    <script>
        function delete_operation(id) {
            json = {
                id: id
            };
            console.log(json);
            fetch('http://127.0.0.1:5000/delete', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(json)
            }).then(location.reload())
        };

        function edit_operation(id, amount, category, description) {
            json = {
                id: id,
                amount: amount,
                category: category,
                description: description
            };
            fetch(`http://127.0.0.1:5000/edit`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(json)
            })
        };
    </script>
{% endblock %}