{% extends "blueprint.html" %}

{% block main %}
    <h1>Регистрация</h1>
    <form method="POST">
        <input type="text" name="username" placeholder="Имя пользователя">
        <input type="text" name="email" placeholder="E-mail">
        <input type="text" name="password" placeholder="Пароль">
        <button type="submit">Зарегистрироваться</button>
    </form>
    <div style="color: red; margin-top: 24px;">{{ errors }}</div>
    <div style="margin-top: 24px;"><a href="/login">Уже есть аккаунт? Войдите</a></div>
{% endblock %}